demo/mule-solace-pubsubplus-connector-manualack-demo/src/main/mule/manualack.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:solace="http://www.mulesoft.org/schema/mule/solace" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/solace http://www.mulesoft.org/schema/mule/solace/current/mule-solace.xsd">

	<solace:config name="Solace_PubSub__Connector_Config" doc:name="Solace PubSub+ Connector Config" doc:id="442629c7-133b-44e9-983a-5f84f4a56979" >
		<solace:connection msgVPN="default" brokerHost="tcp://localhost:55555" clientUserName="default" password="default" >
		</solace:connection>
	</solace:config>
	
	<flow name="manualackFlow" doc:id="35703172-f568-40fd-9509-f9008684ee94" >
		<solace:queue-listener doc:name="Guaranteed Endpoint Listener" doc:id="87749d8f-058e-4c0b-91db-2ea90d139f62" config-ref="Solace_PubSub__Connector_Config" address="q/manualack" provisionQueueWithOptionalTopicSubscription="true" ackMode="MANUAL_CLIENT"/>
		<logger level="INFO" doc:name="Logger" doc:id="5caee273-d381-4e63-9a15-18190ff82507" message="Got a message" category="MANUALACK - "/>
		<logger level="INFO" doc:name="Logger" doc:id="7e0472c2-f7c8-4191-884f-e6a7fcac3411" message='#[%dw 2.0&#10;import * from dw::Runtime&#10;---&#10;"Acking message after some delay (4s)" wait 4000]' category="MANUALACK - "/>
		<solace:ack doc:name="Ack" doc:id="340d00c4-75d9-4a4c-ab17-168ccd5f0f3c" config-ref="Solace_PubSub__Connector_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="3bbfa710-ba0b-4106-9ecb-2c5802706aaa" message="#[payload]" category="MANUALACK - "/>
	</flow>
	<flow name="publishFlow" doc:id="0e43d163-c6af-4a99-b6c6-7d38da25e47f" >
		<scheduler doc:name="Scheduler" doc:id="b6b49a84-1b8b-4026-b7db-4ee99f29e313" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" startDelay="1"/>
			</scheduling-strategy>
		</scheduler>
		<solace:publish doc:name="Publish guaranteed" doc:id="f810f938-caa4-4bf9-9487-5bddd2d3a879" config-ref="Solace_PubSub__Connector_Config" address="q/manualack" delivery-mode="PERSISTENT" destination-type="QUEUE">
			<solace:message >
				<solace:body ><![CDATA[A guaranteed message]]></solace:body>
			</solace:message>
		</solace:publish>
	
    </flow>

</mule>