demo/mule-solace-pubsubplus-connector-simplesenderandlisteners-demo/src/main/mule/simplesenderlisteners.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:solace="http://www.mulesoft.org/schema/mule/solace" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/solace http://www.mulesoft.org/schema/mule/solace/current/mule-solace.xsd">

	<solace:config name="Solace_PubSub__Connector_Config" doc:name="Solace PubSub+ Connector Config" doc:id="1a432cdd-bf0e-452c-959b-234a817fa112" >
		<solace:connection msgVPN="default" brokerHost="tcp://localhost:55555" clientUserName="default" password="default" >
		</solace:connection>
	</solace:config>
	
	<flow name="directListener" doc:id="e53c0c1f-4905-45f3-92bb-c35878f5c129" >
		<solace:topic-listener doc:name="Direct Topic Subscriber" doc:id="1a29de9b-c8dd-4c9c-bb10-572d9a2f6786" config-ref="Solace_PubSub__Connector_Config" topics="t/simple/direct"/>
		<logger level="INFO" doc:name="Logger" doc:id="14d3aa76-cb9b-492e-99d7-c2858ca489f0" category="DIRECT-SOURCE - " message="#[payload]"/>
	</flow>
	<flow name="guaranteedListener" doc:id="c50ea595-bf7c-4294-8914-7f51c3fb4828" >
		<solace:queue-listener doc:name="Guaranteed Endpoint Listener" doc:id="4eaf898e-c69d-4bb8-b058-0c99a07105ab" config-ref="Solace_PubSub__Connector_Config" address="q/simple" provisionQueueWithOptionalTopicSubscription="true" addTopicSubscription="t/simple/direct"/>
		<logger level="INFO" doc:name="Logger" doc:id="4aef2cc7-c0b8-44f8-89fe-acbdd130f712" category="GUARANTEED-SOURCE - " message="#[payload]"/>
	</flow>
	<flow name="simplesenderFlow" doc:id="d5a98232-fa1c-43f4-af6f-8dc0be4c80f4" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="a13799e8-94b5-4561-a811-27104f979fd1" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" startDelay="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<solace:publish doc:name="Publish direct" doc:id="cc9842ad-2c32-424d-af7d-4678578e8b72" config-ref="Solace_PubSub__Connector_Config" address="t/simple/direct">
			<solace:message >
				<solace:body ><![CDATA[Hello listeners]]></solace:body>
			</solace:message>
		</solace:publish>
	</flow>

	<flow name="listenercircuitbreaker" doc:id="8323d70a-d4e0-43e0-a3f7-500c5d794522" maxConcurrency="1" initialState="stopped">
		<solace:queue-listener address="test/q" doc:name="Guaranteed Endpoint Listener" doc:id="74b96196-008c-4d95-acb7-60fd418f2df2" config-ref="Solace_PubSub__Connector_Config_local" ackMode="MANUAL_CLIENT">
			<solace:circuit-breaker onErrorTypes="DUMMY_HTTP:CONNECTIVITY" errorsThreshold="3" tripTimeout="60" tripTimeoutUnit="SECONDS" />
		</solace:queue-listener>
		<logger level="INFO" doc:name="Logger" doc:id="b81aae97-4723-42c9-8564-a135ffb3e7ae" message="Received Message: #[payload]"/>
		<raise-error doc:name="Raise error" doc:id="789faea3-3c3c-495b-b4fb-5a012d9cb7f0" type="DUMMY_HTTP:CONNECTIVITY"/>
		<solace:ack doc:name="Ack" doc:id="6a7e2435-64a4-4257-a726-f8d79ec9257f" config-ref="Solace_PubSub__Connector_Config_local" messageRefId="#[attributes.messageReferenceId]"/>
	</flow>
	
	
</mule>